/* Duy Huynh Custom Style Sheets*/

body {
	background-color: #e3e5e1 !important;
	font-family: 'Merriweather', serif;
	color: #777777;
}

p {
	font-size: .875rem;
	line-height: 170%;
}

a {
	color: #c7593e;
	font-weight: bold;
}

a:hover, a:active {
	color: #414042;
}

h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }


button, .button {
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem .25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	display: inline-block;
	padding-top: .6rem;
	padding-right: .5rem;
	padding-bottom: .6rem;
	padding-left: .5rem;
	font-size: .785rem;
	background-color: #404041;
	border-color: none;
	color: #fff;
	transition: background-color 300ms ease-out;
	text-transform: uppercase;
	letter-spacing: .08em;
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: #c7593e;
	background-color: rgba(199,89,62,1);
	border-color: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	color: #fff;
}

.button.radius {
	border-radius: 6px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	-webkit-appearance: none;
	background-color: transparent;
	font-family: inherit;
	border: 1px solid #bbb;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

figure img {
	border-radius: 0;
}


/* header */

.contain-to-grid {
		border-bottom: 1px solid #d1d1d1;
}

.contain-to-grid, .top-bar, .top-bar-section ul li, .footer-widget, footer.full-width {
	background-color: #e3e5e1 !important;
}

body > header.contain-to-grid {
	margin-bottom: 0rem;
}

.top-bar {
	height: 73px;
}

.top-bar .name {
	margin: 0 0 0 15px;
}

.top-bar .name h1 {
	line-height: 73px;
	margin-top: 10px;
}

.top-bar .name h1 a {
	background: url(../img/duyhuynh@2.png) no-repeat 0 5px;
	width: 217px;
	height: 50px;
	background-size: 80%;
}

.top-bar .name h1 a span {
	display: none;
}

.top-bar .name h1 a {
	color: #666666;
}

.top-bar-section ul {
	margin: 19px 0 0 0;
}

.top-bar-section ul li {
	margin: 0;
}

.top-bar-section ul li > a {
	color: #666666;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .13em;
	font-size: 0.875em
	margin: 0;
	padding: 12px 0 12px 0;
	padding-left: 0 !important;
}

.divider {
	display: none;
}

.top-bar .toggle-topbar a {
	font-size: 1.7rem;	
}

.top-bar .toggle-topbar.menu-icon a {
	color: #666666;
}

.top-bar.expanded .title-area {
	background: #e3e5e1;
}

.top-bar-section ul li > a {
	text-align: center;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	background: #666;
	color: white;
}

.top-bar-section ul li.active > a {
	background: #666;
	color: white;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.top-bar .name h1 a {
		background-position: 13px 5px;
		background-size: 90%;
	}

	.top-bar-section ul {
		text-align: center;
	}
	
	.top-bar-section ul {
		width: auto;
		margin: 0 auto;
	}
	
	.top-bar-section ul li {
		float: left;
		margin-left: 5px;
		margin-top: 19px;
	}
	
	.top-bar-section ul li a {
		padding: 12px 15px !important;
	}
	
	.top-bar-section ul li.active > a {
		background: none;
		color: #c7593e;
	}
	
	.top-bar-section li.active:not(.has-form) a:not(.button):hover {
		background: none;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background: none;
		color: #c7593e;
	}

}

@media only screen and (min-width: 64.063em) {
	.contain-to-grid .top-bar {
		max-width: 66.875rem;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
	
	.top-bar-section ul {
		margin: 0;
	}

	.top-bar .name {
		margin: 0;
	}

	.top-bar .name h1 a {
		background-position: 0 0;
		background-size: 100%;
	}
	
	.top-bar-section ul li > a {
		padding: 12px 0 12px 0;
		padding-left: 15px !important;
	}
	.top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
		background-color: #e3e5e1;
		line-height: 73px;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 18px;
	}
	
	.top-bar-section li:last-child a:not(.button), .top-bar-section li.active:last-child a:not(.button) {
		padding: 0 0 0 18px !important;
	}

	.top-bar-section li.active:not(.has-form) a:not(.button) {
		padding: 0 18px;
		line-height: 73px;
		color: #c7593e;
		background: none;
	}
	
	.top-bar-section li.active:not(.has-form) a:not(.button):hover {
		background: none;
	}
	
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background: none;
		color: #c7593e;
	}
	
	
	.single-artwork .top-bar-section li.menu-item-artwork a {
		color: #c7593e;
	
	}
	
}


@media only screen and (max-width: 40em) {

	.top-bar {
		height: 50px;
	}
		
	.top-bar .name h1 {
		line-height: 50px;
		margin-top: 0px;
	}
	
	.top-bar .name h1 a {
		background: url(../img/duyhuynh@2.png) no-repeat 0 5px;
		width: 217px;
		height: 40px;
		background-size: 75%;
	}
}

@media only screen and (max-width: 40em) and (orientation: landscape) {
	.top-bar {
		height: 35px;
	}
		
	.top-bar .name h1 {
		line-height: 35px;
		margin-top: 0px;
	}
	
	.top-bar .name h1 a {
		background: url(../img/duyhuynh@2.png) no-repeat 0 5px;
		width: 217px;
		height: 30px;
		background-size: 50%;
	}
	
	.top-bar .toggle-topbar.menu-icon a {
		height: 30px;
		line-height: 29px;
		font-size: 1.25rem;
	}

}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:.7s;
    -moz-animation-duration:.7s;
    animation-duration:.7s;
}

.ie9 .fade-in {
	opacity: 1;
}

.feature-image {
	width: 100%;
	display: block;
	height: 220px;
	background-size: cover;
	background-position: center center;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   	-moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
    background-color: #e6e8e4;
}


@media only screen and (min-width: 40.063em) {
	.feature-image {
		height: 360px;
		  -webkit-transition: all .25s ease-in-out;
		  -moz-transition: all .25s ease-in-out;
		  -o-transition: all .25s ease-in-out;
		  transition: all .25s ease-in-out;

	}
}

.f-topbar-fixed > .container {
	margin-top: 0;
}

/* end header */

/* Footer */

footer a {
	font-weight: normal;
}

.footer-widget {
	border-top: 1px solid #d1d1d1;
}

footer.full-width {
	border-top: none;
	padding-top: 2rem;
	padding-bottom: 3rem;
	font-family: 'Open Sans', sans-serif;
}

.mailchimp {
	text-align: center;
}

footer h5 {
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: .06em;
	font-weight: 600;
	color: #666;
	padding-left: 2px;
	margin-bottom: 15px;
}

form .row .row.collapse input {
	border-bottom-right-radius: 6px ; 
	border-top-right-radius: 6px; 
	border-radius: 6px;
}

footer input[type="email"] {
	font-size: 0.7rem;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	letter-spacing: .04em;	
}

footer button, footer .button {
	padding-bottom: .675rem;
	font-size: .65rem;
	margin-bottom: 60px;
}

footer.full-width p.copy, footer.full-width p.copy a {
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: .05em;
}

footer.full-width .copy {
	float: none;
	text-align: center;
}


footer button, footer .button {
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem .25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	display: inline-block;
	padding-top: .7rem;
	padding-right: 1rem;
	padding-bottom: .6rem;
	padding-left: 1rem;
	font-size: .65rem;
	background-color: transparent;
	border-color: #4A342A;
	color: #4A342A;
	transition: background-color 300ms ease-out;
	text-transform: uppercase;
	letter-spacing: .08em;
}

footer button:hover, footer button:focus, footer .button:hover, footer .button:focus {
	background-color: #fff;
	background-color: rgba(255,255,255,.4);
	border-color: #4A342A;
	border-color: rgba(74,52,42,.4);
}

footer button:hover, footer button:focus, footer .button:hover, footer .button:focus {
	color: #666;
}


@media only screen and (min-width: 40.063em){
	footer.full-width p.copy, footer.full-width p.copy a {
		text-align: right;	
		float: right;
	}
	
	.mailchimp {
		text-align: left;
	}
	
	footer button, footer .button {
		margin-bottom: 0;
	}

}



@media only screen and (min-width: 64.063em){
	.footer-widget {
	margin-top: 0rem;
	padding-top: 5rem;
	}
}

/* end footer */

/* Home */

.home article header, .home h2 {
	display: none;
}

.home article {
	width: 100%;
	/*height: 550px;*/
	display: block;
}

.home article img {
	width: auto;

}

.tp-bullets.simplebullets.round .bullet {
	width: 15px !important;
	height: 15px !important;
	display: block;
	background: transparent !important;
	border: 2px solid rgba(255,255,255,255.2) !important;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin-left: 7px;
}

.tp-bullets.simplebullets.round .bullet.selected {
	background: #fff !important;
	background: rgba(255,255,255,0.9) !important;
	cursor: default;
}


.rev_slider_wrapper {
	max-height: 275px !important;
}


@media only screen and (min-width: 30.063em){

	.rev_slider_wrapper {
		max-height: 650px !important;
	}
}

@media only screen and (min-width: 90.063em){

	.rev_slider_wrapper {
		max-height: 1000px !important;
	}
}






/* End Home */



/* Interiors */

.container {
	padding-top: 2rem;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	background-color: #e6e8e4;
}

#content {
	background-color: inherit;
	border: none;
}

@media only screen and (min-width: 40.063em) {
	#content {
	padding: 1rem 2rem 3.125rem 2rem;
	min-height: 520px;
	}
	
	#sidebar {
	padding: 2.2rem 2rem 3.125rem 2rem;
	}
	
	.page-artwork #content {
	padding: 2.75rem .5rem 3.125rem .5rem;		
	}
	
	.single-artwork #content {
	padding: 0rem 2rem 1rem 2rem;		
	}
}

@media only screen and (min-width: 64.063em) {
	.single-artwork #content {
	padding: 0rem 1rem 1rem 1rem;		
	}

}

@media only screen and (min-width: 70.063em) {
	.single-artwork #content {
	padding: 0rem 0rem 1rem 0rem;		
	}

}


article h1.entry-title, .page article .byline, .page article time {
	display: none;
}


/* Artwork */
.artwork-content {
	display: none;
}

#artwork {
	text-align: center;
	padding-bottom: 20px;
}

#artwork a {
	margin-bottom: 20px;
	display: block;
}

#artwork a.artwork-category-thumb:hover {
	opacity: .5;
}

a h2:hover {
	color: #c7593e;
}

h2.artwork-name {
	font-size: .9rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05rem;
	color: #666;
	margin-bottom: 20px;
	text-align: center;
}


/*-----------------------------------------------
Single Artwork Artist Detail Page
-----------------------------------------------*/
.single-artwork .feature-image { display: none; }

.single-artwork {
	position: relative;
}

.single-artwork .container {
	padding-top: 1.15rem;
}

.artwork-menu {
	display: block;
	z-index: 20;
	position: relative;
	padding: 0;
	margin: 0;
}

.artwork-menu ul {
	list-style-type: none;
	margin: 0;
}

.artwork-menu ul li {
	float: left;
}

.artwork-menu a p {
	font-family: 'Open Sans', sans-serif;
	padding-top: 0;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 0;
	text-transform: uppercase;
	font-size: .5rem;
	color: #666;
	letter-spacing: .015em;
	font-weight: 700;
	margin: 0 0 7px 0;
}

.artwork-menu li:first-child a p {
	padding-left: 0;
}


.artwork-menu a .dash {
	height: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #666;
	width: 24px;
	margin: 0px auto 10px;
	text-shadow: 0 1px 2px rgba(0,0,0,.7);
	display: none;
}

.artwork-menu li.current a .dash {
	display: block;
}

.carousel-prev-next { 
	position: absolute;
	display: block;
	height: auto;
	top: 35%;
	width: 92%;
}

.single-artwork #controls.columns {
	padding-left: 0rem;
	padding-right: 0rem;
}


.single-artwork div.ss-controls {
	display: none;
}

.single-artwork div.nav-controls a.next, .single-artwork div.nav-controls a.prev {
	text-indent: -2000px;
	width: 15px;
	height: 19px;	
}

.single-artwork div.nav-controls a.next {
	float: right;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 0 11px 19.1px;
	border-color: transparent transparent transparent #bbb;
}

.single-artwork div.nav-controls a.prev {
	float: left;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 19.1px 11px 0;
	border-color: transparent #bbb transparent transparent;
}

.single-artwork div.nav-controls a.next:hover {
	border-color: transparent transparent transparent #666;
}

.single-artwork div.nav-controls a.prev:hover {
	border-color: transparent #666 transparent transparent;
}

/* slideshow */
.single-artwork div.slideshow-container {
	position: relative;
}

.single-artwork .image-detail {
	display: block;
	border: 0;
	width: 100%;
	margin: 0 auto 20px auto !important;
	padding: 20px 40px 0  40px;
	text-align: center;
	clear: both;
}

.single-artwork .image-detail .columns {
	padding: 0 !important;
}

.single-artwork div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.single-artwork div.slideshow span.image-wrapper {
	display: block;
	text-align: center;
}

.single-artwork div.slideshow a.advance-link {
	display: block;
}

.single-artwork div.slideshow a.advance-link:hover,
.single-artwork div.slideshow a.advance-link:active,
.single-artwork div.slideshow a.advance-link:visited {
	text-decoration: none;
}

.single-artwork div.slideshow a.advance-link:focus {
	outline: none;
}

.single-artwork div.slideshow img {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	max-height: 500px;
	margin: 0 auto !important;
	width: auto;
}

/* Captions */
div.caption-container {
	position: relative;
}

span.image-caption {
	display: block;
	padding-left: 10px;
}

/* artist name*/
div.caption-container h2 {
	padding-left: 10px;
	padding-right: 20px;
	line-height: 110%;
}

.no-work {
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 30px;
	text-align: center;
	line-height: 160%;
}

/* title of work */
.image-caption h3 {
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 140%;
	margin-bottom: 30px;
	padding-top: 9px;
	font-weight: 700;
	letter-spacing: .05em;
	color: #666;
	word-wrap: break-word;
	width: 90%;
}

@media only screen and (min-width: 30.063em){
	.carousel-prev-next { 
		width: 94%;
	}
	
	.artwork-menu a p {
		padding-left: 7px;
		padding-right: 7px;
		font-size: .7rem;
		letter-spacing: .05em;
	}
}

@media only screen and (min-width: 40.063em){

	.artwork-menu a p {
		padding-top: 0;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 0;
		margin: 0 0 7px 0;
	}
	
	
	.image-caption h3 {
		margin-top: 50px;
	}


	div.caption-container {
		position: relative;
		min-height: 400px;
		height: auto !important;
		height: 400px;
	}
	
	.carousel-prev-next { 
		position: absolute; 
		width: 91%;
		min-height: 400px;
		height: auto !important;
		height: 400px;
	}

	.single-artwork .image-detail {
		padding: 20px 60px 0  60px;
		text-align: left;
		min-height: 400px;
		height: auto !important;
		height: 400px;
		margin: 0 auto 20px auto !important;
		padding: 20px 60px 0  60px;
	}
}



@media only screen and (min-width: 60.063em) {
	div.caption-container {
		position: relative;
		min-height: 500px;
		height: auto !important;
		height: 500px;
	}
	
	.carousel-prev-next { 
		width: 93%;
		position: absolute; 
		min-height: 500px;
		height: auto !important;
		height: 500px;
	}

	.single-artwork .image-detail {
		min-height: 500px;
		height: auto !important;
		height: 500px;
		margin: 0 auto 20px auto !important;
		padding: 20px 60px 0  60px;
	}
}

@media only screen and (min-width: 70.063em) {
	.carousel-prev-next { 
		width: 99%;
	}

}

/* description of work */
.product-info {
	margin: 10px 0 25px 0;
	line-height: 130%;
	width: 85%;
}

/* sold, inquire & buy buttons */
.purchase-buttons {
	margin-top: 50px;
}

@media only screen and (min-width: 40.063em){
	.purchase-buttons a.button {
		width: 70%;
		font-weight: 700;
		letter-spacing: .04em;
	}
}


.sold.button {
	border-style: solid;
	border-width: 1px;
	cursor: crosshair;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem .25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	display: inline-block;
	padding-top: .7rem;
	padding-right: 1rem;
	padding-bottom: .6rem;
	padding-left: 1rem;
	font-size: .65rem;
	background-color: transparent;
	border-color: #aaa;
	color: #888;
	transition: background-color 300ms ease-out;
	text-transform: uppercase;
	letter-spacing: .08em;
}



/* image count */
div.photo-index {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 .625em 1.1em;
	font-style: italic;
	font-weight: 100;
	text-transform: lowercase;
	font-size: .9em;
	width: 100%;
}

/* thumbnail navigation container */
div.navigation-container {
	position: relative;
	clear: both;
	width: 100%;
	margin: 35px auto 40px auto !important;
}

div.navigation {
	position: relative;
	text-align: center;
}

div.navigation a.pageLink {
	display: block;
	position: relative;
	background-position:center center;
	background-repeat:no-repeat;
}

div.navigation a.pageLink:focus {
	outline: none;
}

div.navigation-container ul.thumbs {
	position: relative;
	margin: 0 auto 20px auto !important;
	overflow: hidden;
	height: auto;
}

div.navigation-container ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0 .5% 0 0;
	list-style: none;
	width: 12%;
}

div.navigation-container ul.thumbs li:nth-child(8) {
	margin-right: 0;
}

div.navigation-container ul.thumbs li.selected {
	opacity: .25;
}

div.navigation-container a.thumb {
	padding: 1px;
	display: block;
}

div.navigation-container a.thumb:hover {
	opacity: .5;
}

div.navigation-container a.thumb:focus {
	outline: none;
}
div.navigation-container ul.thumbs img {
	border: none;
	display: block;
}


/* thumbnail set pagination - Previous Set 1 2 3 Next Set */
.artwork-pagination {
	margin: 0;
	padding: 10px 0 0 0;
	clear: both;
	position: relative;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	font-size: .7rem;
	letter-spacing: .05em;
}

.artwork-pagination a, .artwork-pagination span.artist-current, .artwork-pagination span.artist-ellipsis {
	padding: 5px;
}

.artwork-pagination a:hover {
	color: #c7593e;
}

.artwork-pagination span.artist-current, .artwork-pagination .artist-pages {
}

.artwork-pagination span.artist-ellipsis {
}

.artwork-pagination a.artist-next {
	width: 30px;
	height: 30px;
	padding: 0 0 11px 0;
	margin-left: 10px;
	color: #414042;
}

.artwork-pagination a.artist-previous {
	width: 30px;
	height: 30px;
	padding: 0 0 11px 0;
	margin-right: 10px;
	color: #414042;
}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}

div.navigation a.prev {
	background: transparent url('../images/arrow_btn.png') no-repeat;
	background-position: 0 -30px;	
}

div.navigation a.next {
	background: transparent url('../images/arrow_btn.png') no-repeat;
	background-position: -30px -30px;
}



@media only screen and (max-width: 767px) {

	.single-artists .image-detail {
		min-height: inherit;
		min-height: auto;
		height: auto !important;
		height: auto;
	}
	
	
	div.slideshow img {
		max-height: inherit
	}
	
	div.caption-container {
		position: relative;
		min-height: inherit;
		height: auto !important;
		height: auto;
	}
	
	
	div.photo-index {
		position: relative;
		margin-top: 10px;
	}
	
	div.navigation-container ul.thumbs {
		overflow: auto;
		height: auto;
	}
	
	.artist-bio {
		margin-top: 20px;
	}
	
	.purchase-buttons {
		margin-top: 20px;
	}
	
	div.caption-container h2, div.photo-index, span.image-caption {
		padding-left: 0;
	}
	
	.image-caption {
		padding: 0;
	}
	
	.image-caption h3, .product-info {
		padding: 0;
		width: 100%;
	}
	
	.image-caption h3 {
		margin-bottom: 20px;
	}
	
	.product-info {
		margin: 10px 0 15px 0;
	}
}


@media only screen and (min-width: 641px) and (max-width: 960px) {
	
}


/*layouts smaller than 600px, iPhone and mobiles*/
@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
	

	.fullProjects #photo-gallery .full {width: 100%;}
	
	div.navigation-container ul.thumbs {
	position: relative;
	margin: 0 auto 20px auto !important;
	overflow: visible;
	height: auto;
	}

	div.navigation-container ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 25%;
	}

	div.navigation-container ul.thumbs li:nth-child(8) {
	margin-right: inherit;
	}

	div.navigation-container ul.thumbs li:nth-child(4) {
	margin-right: 0;
	}
	
	
	div.caption-container h2 {
		width: 70%;
	}
	
	.purchase-buttons {
	margin-top: 10px;
	}
	
	div.caption-container h2 {
	width: 50%;
	}
	
	
}



/* iPhone Portrait */
@media screen and (max-width: 480px) and (orientation: portrait) {	
	
	.single-artists #main.columns  {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
		
	.single-artists .image-detail {
		padding: 10px;
		min-height: inherit;
	}	
}

/* End Single Artwork */



/* About */
.secondary-content {
	padding-bottom: 20px;
}

.secondary-content hr {
	margin-bottom: 40px;
}

.secondary-content h2 {
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05rem;
	color: #666;
	margin-bottom: 20px;
}

.secondary-content p {
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 160%;
}

.secondary-content img {
	margin-bottom: 20px;
}

/* End About */



/* Contact Page */

div.wpcf7 {
	padding: 20px 0 0 0;
	display: block;
	font-size: .9rem;
}


div.wpcf7 .columns {
	padding-left: 0;
}

div.wpcf7 input[type="text"], div.wpcf7 input[type="password"], div.wpcf7 input[type="date"], div.wpcf7 input[type="datetime"], div.wpcf7 input[type="datetime-local"], div.wpcf7 input[type="month"], div.wpcf7 input[type="week"], div.wpcf7 input[type="email"], div.wpcf7 input[type="number"], div.wpcf7 input[type="search"], div.wpcf7 input[type="tel"], div.wpcf7 input[type="time"], div.wpcf7 input[type="url"], div.wpcf7 textarea {
background-color: #f1f2f0;
border-radius: 6px;
}

.wpcf7 input {
	margin-top: 8px;
}

.gmap {
	border: 1px solid #bbb;
	width: 100%;
}

.get-directions {
	margin-top: 5px;
}

div.wpcf7-mail-sent-ok {
border: 0px solid #587c47 !important;
font-weight: bold;
color: #587c47;
}



#sidebar .panel {
	border: none;
	background-color: transparent;
	padding: 0;
	margin-top: 20px;
}

#sidebar .panel a {
	margin-right: 10px;
}

#sidebar .panel a i {
	font-size: 36px;
}

#sidebar .widget h4 {
	font-size: .8rem !important;
	padding-bottom: .15rem;
	border-bottom: 0;
	font-weight: 600;
	letter-spacing: .035rem;
	padding-top: .5em;
}

/* End Contact Page */


/*-------- Keyframes ---------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


